<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Driver</title>
</head>
<body>

<span th:if="${msg} != null">
    <span style="color: red" th:text="${msg}"></span>
</span>

Register Driver
<form th:action="@{/driver/register}" method="post" enctype="multipart/form-data">

    <h3>Personal Info</h3>
    Name: <input type="text" name="name" required><br>
    Surname: <input type="text" name="surname" required><br>
    Email: <input type="email" name="email" required><br>
    Phone: <input type="text" name="phone" required><br>
    Password: <input type="password" name="password" required><br>
    Date of Birth: <input type="date" name="dateOfBirth" required><br>
    Gender:<br>
    <input type="radio" id="male" name="gender" value="MALE" required>
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="FEMALE" required>
    <label for="female">Female</label><br>

    Region:
    <select name="regionId" required>
        <option value="">-- Select Region --</option>
        <option th:each="region : ${regions}"
                th:value="${region.id}"
                th:text="${region.name}">
        </option>
    </select><br>

    Driver License Photo:
    <input type="file" name="licensePhoto" accept="image/*"><br>

    <h3>Car Info</h3>
    Brand:
    <select name="brandId" required>
        <option value="">-- Select Brand --</option>
        <option th:each="brand : ${brands}"
                th:value="${brand.id}"
                th:text="${brand.name}">
        </option>
    </select><br>

    Number Plate: <input type="text" name="numberPlate"
                         placeholder="e.g. 00 AA 000"
                         pattern="\d{2} [A-Z]{2} \d{3}"
                         title="Format: 00 AA 000 (e.g. 12 AB 345)"
                         required><br>
    Year: <input type="number" name="carYear" min="1990" max="2025" placeholder="e.g. 2020" required><br>

    <input type="submit" value="Register">
</form>

</body>
</html>